{% load cache %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ label }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
            integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
            integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
            crossorigin="anonymous"></script>
</head>
<body>
{% if adname %}
    <h3 class="text-success text-center">{{ label }}({{ adname }})</h3>

    {% else %}
    <h3 class="text-success text-center">{{ label }}</h3>

{% endif %}

{#{% cache 20 content %}#}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        {% for k, v in head.items %}
            <td>{{ v }}</td>
        {% endfor %}
        {#      <th scope="col">姓名</th>#}
        {#      <th scope="col">性别</th>#}
        {#      <th scope="col">年龄</th>#}
        {#      <th scope="col">每分钟运动次数</th>#}
    </tr>
    </thead>
    <tbody>
    {% for activity in activities %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            {% for k, v in activity.items %}
                <td>{{ v }}</td>
            {% endfor %}
            {#      <td>{{ activity.user.gender }}</td>#}
            {#      <td>{{ activity.user.age }}</td>#}
            {#      <td>{{ activity.machine_used_per_min }}</td>#}
        </tr>
    {% endfor %}
    </tbody>
</table>
{#{% endcache %}#}

</body>
</html>